.products-container {
  display: flex;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-nav {
  display: flex;
  align-items: center;
  padding-bottom: 4.5rem;

  &__icon {
    color: $color-gray-dark;
    font-size: 1.4rem;
    margin: 0 .8rem;
  }

  &__link {
    color: $color-gray-dark;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__buttons {
    margin-left: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__arrow-prev {
    font-size: 1.4rem;
    color: $color-gray-dark;
    margin-right: .3rem;
    display: block;
    transform: rotate(180deg);
  }

  &__arrow-next {
    font-size: 1.4rem;
    color: $color-gray-dark;
    margin-left: .3rem;
    display: block;
  }

  &__last {
    display: none;
  }
}
